.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px;
  height: auto; 
}

h1 {
  color: blueviolet;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;         
  padding: 20px;     
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 10px; 
}


.form-row {
  display: flex;
  align-items: center;
}

form input {
  flex: 1; 
  border-radius: 30px 0 0 30px; 
  border: 1px solid #48456C;
  height: 40px;
  background-color: #363653;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

form input::placeholder {
  color: aliceblue;
  text-align: center;
}

form button {
  border-radius: 0 30px 30px 0; 
  background-color: #8b8AE1;
  height: 40px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding: 0 16px;
}

form button:hover {
  opacity: 0.8;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card { 
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  background-color: #2E2d4e;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;       
}

.card h2 {
  margin-bottom: 10px;
  color: white;
}

.card img {
  max-width: 120px;   
  margin: 10px 0;
}

.card p {
  margin-top: 10px;
  color: #ccc;
}
